
<header class="o-header-services" data-o-component="o-header-services">

	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button">
				<span class="o-header-services__visually-hidden">Open primary navigation</span>
			</a>
		</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami Repo Data</a>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			{{#navigation.items}}
				<li>
					<a href="{{@root.basePath}}{{href}}" {{#current}}aria-current="true"{{/current}}>
						{{name}}
					</a>
				</li>
			{{/navigation.items}}
		</ul>
	</nav>

	{{#navigation.items}}
		{{#current}}
			{{#hasChildren}}
				<nav class="o-header-services__secondary-nav" aria-label="secondary" data-o-header-services-nav="">
					<div class="o-header-services__secondary-nav-content" data-o-header-services-nav-list="">

						<ol class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--ancestors" aria-label="Ancestor sections">
							<li>
								<a href="{{@root.basePath}}{{href}}">
									{{name}}
								</a>
							</li>
						</ol>

						<ul class="o-header-services__secondary-nav-list o-header-services__secondary-nav-list--children" aria-label="Child sections">
							{{#children}}
								<li>
									<a href="{{@root.basePath}}{{href}}" {{#current}}aria-current="true"{{/current}}>
										{{name}}
									</a>
								</li>
							{{/children}}
						</ul>

					</div>
					<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
					<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
				</nav>
			{{/hasChildren}}
		{{/current}}
	{{/navigation.items}}

</header>
