
<ul class="o-techdocs-nav">
	<li>
		<a href="{{basePath}}v1">Overview</a>
	</li>
	<li>
		<a href="{{basePath}}v1/docs/api">API Reference</a>
		<ul class="o-techdocs-nav o-techdocs-nav--sub">
			<li>
				<a href="{{basePath}}v1/docs/api/authentication">Authentication</a>
			</li>
			<li>
				<a href="{{basePath}}v1/docs/api/repositories">Repository endpoints</a>
			</li>
			<li>
				<a href="{{basePath}}v1/docs/api/queue">Ingestion queue endpoints</a>
			</li>
			<li>
				<a href="{{basePath}}v1/docs/api/keys">API Key endpoints</a>
			</li>
		</ul>
	</li>
</ul>
