<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script>
		var cutsTheMustard = (
			'querySelector' in document &&
			'localStorage' in window &&
			'addEventListener' in window
		);
		if (cutsTheMustard) {
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>

	<style>
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
		html {
			overflow-x: hidden;
		}
		body {
			margin: 0;
		}
	</style>

	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-techdocs@^7.0.5,o-grid@^4.0.0,o-icons@^4.2.0,o-header-services" />
	<link rel="stylesheet" href="/main.css" />
	<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
	<script>
		(function(src) {
			if (cutsTheMustard) {
				var o = document.createElement('script');
				o.async = o.defer = true;
				o.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(o, s);
			}
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-techdocs@^7.0.5,o-grid@^4.0.0,o-icons@^4.2.0'));
	</script>

</head>
<body class="o-techdocs">

	<header class="o-header-services" data-o-component="o-header">
		<div class="o-header-services__top o-header-services__container">
			<div class="o-header-services__ftlogo"></div>
			<div class="o-header-services__title">
				<h1 class="o-header-services__product-name">
					<a href="{{basePath}}">{{origami.options.name}}</a>
				</h1>
			</div>
		</div>
	</header>

	{{{body}}}

	<footer class="o-techdocs-footer">
		<div class="o-techdocs-footer__inner">
			<p>&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
		</div>
	</footer>

</body>
</html>
