@charset "UTF-8";

/* Header overrides */

.o-header-services__logo {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?format=svg&source=origami&width=55);
}

/* Table overrides */
td,
th[scope=row]{
	vertical-align: top;
}
td p:first-child {
	margin-top: 0;
}
table dl,
.o-techdocs-content table pre {
	margin: 0;
}

/* aside overrides */
.o-techdocs-card__content p,
.o-techdocs-card__content pre {
	margin: 0;
}
